# Lab for answering question C
Responsible: Moritz

In [12]:
import numpy as np
import pandas as pd
import pickle

In [41]:
transformed_df_serial_path = "../data/data_transformed.pickle"

with open(transformed_df_serial_path, "rb") as file:
    df: pd.DataFrame = pickle.load(file)

assert isinstance(df, pd.DataFrame),f"The serialized object in {transformed_df_serial_path} is not a pandas dataframe!"
assert len(df)!=0, "The serialized dataframe contains no data!"

## Regarding Groupby and Pandas Datatypes

Pandas usually uses numpy datatypes. However, **numpy integer arrays do not allow for null values (np.nan)**. That's why pandas introduces their own Integer array, which can inlcude null values (pd.NA). However, for groupby operations these pd.NA values can cause problems, so it is advisable to convert back to a numpy float array (which does allow for np.nan) before applying the groupby.

In [56]:
series = pd.Series(np.arange(10))

series.astype("int32") # <-- "int32" (small i) = numpy int, no empty values
series.astype("Int32") # <-- "Int32" (big i) = pandas int, allows empty values (pd.NA)
series.astype("float32") # <-- numpy float, allows empty values (np.nan)
pass

In [52]:
groupby_base = df[["Disaster_Subgroup", "Total_Deaths", "No_Affected"]].astype({"Total_Deaths": np.float})

groupby_base.groupby(["Disaster_Subgroup"]).mean()

                   Total_Deaths     No_Affected
Disaster_Subgroup
Biological          7508.833724  1569963.310197
Climatological     41626.964539  4166908.930736
Extra-terrestrial           NaN        300000.0
Geophysical         1836.688537   180643.075743
Hydrological        1431.269028   872651.870358
Meteorological       409.528254   588057.401987